<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="my file server" />

    <title>Drive</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's javascript file -->
    <script src="/main.js" type="module" defer></script>
  </head>
  <body>
    <div id="items">
      {{#each files}}
      <div>
        <a href="{{this.url}}">
          <div class="item">
            {{#if this.isText}}
            <p class="item-text">{{this.icon}}</p>
            {{else}}
            <img
              class="item-preview"
              src="/{{this.icon}}"
              alt="{{this.name}}"
              loading="lazy"
            />
            {{/if}}
            <div class="item-name">{{this.name}}</div>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
