<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Drive</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's javascript file -->
    <script src="/main.js" type="module" defer></script>
  </head>
  <body>
    <div id="items">
      {{#each files}}
      <div>
        <a href="/files/{{this}}" loading="lazy">
          <div class="item">
            <img class="item-preview" src="/files/{{this}}" />
            <div class="item-name">{{this}}</div>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
