<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  
    <title>Drive</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/files.css" />
    {{#if folders}}
    <link rel="stylesheet" href="/folders.css" />
    {{/if}}
  </head>
  <body>
    {{#if folders}}
    <a class="skip" href="#folders">skip to folders</a>
    {{/if}} {{#if files}}
    <a class="skip" href="#files">skip to files</a>
    {{/if}} {{#if folders}}
    {{> menu}}
    <div id="folders">
      {{#each folders}}
      <div>
        <a href="{{this.url}}">
          <div class="folder">
            <img
              src="{{#if this.toParent}}/icons/up.png{{else}}/icons/folder.png{{/if}}"
              class="folder-icon icon"
              alt="folder: {{this.name}}"
            />
            <div class="folder-name">{{this.name}}</div>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
    {{/if}} {{#if files}}
    <div id="files">
      {{#each files}}
      <div>
        <a href="{{this.url}}">
          <div class="file">
            {{#if this.isText}}
            <p class="file-text">{{this.icon}}</p>
            {{else}}
            <img
              class="file-preview {{#if this.isIcon}}icon{{/if}}"
              src="/{{this.icon}}"
              alt="file: {{this.name}}"
              loading="lazy"
            />
            {{/if}}
            <div class="file-name">{{this.name}}</div>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
    {{/if}}
    <!-- <script src="/socket.io/socket.io.js"></script> -->
  </body>
</html>
